/* model style */
  #terms-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }

  #terms-box {
    background: white;
    padding: 20px;
    width: 300px;
    border-radius: 8px;
    text-align: center;
  }

  body.locked {
    overflow: hidden;
  }

  #terms-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }

  #terms-box {
    background: white;
    padding: 20px;
    width: 300px;
    border-radius: 8px;
    text-align: center;
  }

  body.locked {
    overflow: hidden;
  }

#image-viewer {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9998;
}

#image-viewer img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 8px;
}
